<a href="https://colab.research.google.com/github/20A31A0523/Technical/blob/main/Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #SETS
 s={1,2,3,4,5,1,2,3,4,5}
 print(s)
 print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
s="123"
n=int(s)
print(n)

123

In [ ]:
student={
    "name":"divya",
    "section":"CSE",
    "age":20
}
print(student)

{'name': 'divya', 'section': 'CSE', 'age': 20}

In [ ]:
student={}
student.update({
    1:"divya",
    2:"CSE",
    3:20
})
print(student)
print(student[1])

{1: 'divya', 2: 'CSE', 3: 20}
divya

In [ ]:
student={
    "name":"divya",
    "section":"CSE",
    "age":20
}
print(student['name'])
print(student['section'])
print(student['age'])

divya
CSE
20

In [ ]:
student={
    "name":"divya",
    "section":"CSE",
    "age":20
}
student['age']=35
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'section', 'age'])
dict_values(['divya', 'CSE', 35])
dict_items([('name', 'divya'), ('section', 'CSE'), ('age', 35)])

In [ ]:
n=int(input("enter username:"))
p=int(input("enter password:"))
student={}
student.update({
    "username":"mou",
    "password": 124
})
if "n,p" in student():
   print("valid user")
else:
   print("invalid user")

In [ ]:
#FUNCTIONS
def fun_name():
  print("sample function")
fun_name()

sample function

In [ ]:
#regular function
def fun_name(num1,num2):
  print("ans:", num1*num2)
fun_name(10,20)

ans: 200

In [ ]:
def fun_name(num1,num2,np):
  if np=="+":
    print(num1+num2)
  elif np=="-":
    print(num1-num2)
  elif np=="*":
    print(num1*num2)
fun_name(10,20,"*")

200

In [ ]:
#FIND THE SUM OF AN ARRAY USING FUNCTIONS
def fun_name(arr):
  sum=0
  for i in range(len(arr)):
    sum=sum+arr[i]
  return sum
arr=[1,2,3,4,5]
fun_name(arr)

15

In [ ]:
#TYPES OF FUNCTIONS
#regular
#default value
#keyword argument 
#variable length

In [ ]:
#default value function
def hello(a,b,c=0):
  print(a)
  print(b)
  print(c)
hello(2,4)
hello(2,4,6)

2
4
0
2
4
6

In [ ]:
#keyword argument
def hello(a,b,c=0):
  print(a)
  print(b)
  print(c)
hello(b=10,a=20,c=30)

20
10
30

In [ ]:
#variable length
def hello(*variable):
  print(variable)
hello(10,20)
hello(10,20,30)
hello(10,2,4,6,8)
hello()

(10, 20)
(10, 20, 30)
(10, 2, 4, 6, 8)
()

In [ ]:
#STRING FORMATTING
#method 1
name="deekshith"
age=20
id="abc14"
print("hello {} your age is {} and id is {}".format(name,age,id))

hello deekshith your age is 20 and id is abc14

In [ ]:
#METHOD 2
name="deekshith"
age=20
id="abc14"
print(f"hello {name},your age is {age},id is {id}")

hello deekshith,your age is 20,id is abc14

In [ ]:
#OOPS
#class  -----> collection of properties or functionality of a real world entity
#methods  
#object

In [ ]:
class student:
  name="mouu"
  age=19
  s_class="cse-a"
  year=3
ob1=student()
print(ob1.name)
print(ob1.age)
print(ob1.s_class)

mouu
19
cse-a

In [ ]:
class student:
  name="mouu"
  roll="ab23"
  def print_details(self):                                     #self---------------> refers to the class
    print(f"name: {self.name} and roll: {self.roll}")
ob1=student()
ob1.print_details()

name: mouu and roll: ab23

In [ ]:
#CONSTRUCTOR---------------> __init__
class student:
  def __init__(self,name,roll):  
    self.s_name=name
    self.s_roll=roll
    print(name,roll)
  def print_details(self):                                    
    print(f"name: {self.name} and roll: {self.roll}")
ob1=student("student_name",1001)
ob2=student("student_name",1002)
ob3=student("student_name",1003)

student_name 1001
student_name 1002
student_name 1003