<a href="https://colab.research.google.com/github/20A31A0523/Technical/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#abcderian series
str1='GHIJKL'
str2='ate'
for i in str1:
  print((i+str2),end=" ")

Gate Hate Iate Jate Kate Late

In [ ]:
# WRITE A PROGRAM TO EVALUATE LIST OF A CUBES TILL THE RANGE OF 10
cubes=[]
for i in range(11):
  cubes.append(i**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# WRITE A PROGRAM TO FIND THE SUM AND MEAN OF SERIES 0 TO 10
list=[]
sum=0
mean=0
for i in range(11):
  sum=sum+i
print(sum)
mean=sum//10
print(mean)

55
5

In [ ]:
# OPERATIONS OF LIST
list=[7,14,38,4,56]
print(max(list))
print(min(list))

56
4

In [ ]:
# all,any,list,sort
list=[11,4,14,7,2]
print(sorted(list))
list.append(10)
print(list)
print(list.count(2))
list.insert(0,23)
print(list)
list.remove(4)
print(list)

[2, 4, 7, 11, 14]
[11, 4, 14, 7, 2, 10]
1
[23, 11, 4, 14, 7, 2, 10]
[23, 11, 14, 7, 2, 10]

In [ ]:
# TOWER OF HANOI
def hanoi(n,a,b,c):
  if n>0:
    hanoi(n-1,a,c,b)
    if a:
      c.append(a.pop())
    hanoi(n-1,b,a,c)
a=[1,2,3,4]
b=[]
c=[]
hanoi(len(a),a,b,c)
print(a,b,c)

[] [] [1, 2, 3, 4]

In [ ]:
#OPERATIONS OF LIST
#in
#not in
#repetition
#concatenation
str=[11,22,32,54,74]
print(len(str))
print(sum(str))

5
193

In [ ]:
#reverse
num=[1,2,3,4,5,6,7,8,9,10]
num.reverse()
print(num)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#prints the string in reverse order 
#prints in a sorted order
str=['m','o','u','n','i']
str.reverse()
print(str)
str.sort()
print(str)

['i', 'n', 'u', 'o', 'm']
['i', 'm', 'n', 'o', 'u']

In [ ]:
#prints according to ASCII values
a=['1','abc','-14','-7','D','dm']
a.sort()
print(a)

['-14', '-7', '1', 'D', 'abc', 'dm']

In [ ]:
txt=['p','r','o','g','r','a','m']
txt[2:5]=[]
print(txt)

['p', 'r', 'a', 'm']

In [ ]:
# WRITE A PROGRAM TO CREATE A LIST OF CUBES FOR GIVEN NUMBER
# N=10
cubes=[i**3 for i in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
list=[1,2,3,4]
index=0
for i in list:
  print("index [" ,index, "]=",i)
  index=index+1

index [ 0 ]= 1
index [ 1 ]= 2
index [ 2 ]= 3
index [ 3 ]= 4

In [ ]:
n=int(input())
if n!=0 and n<7000:
  if n<=2000:
    print("25 minutes")
    if n==2001 and n<=4000:
       print("35 minutes")
       if n>4000:
         print("45 minutes")
else:
  print("INVALID INPUT")

2000
25 minutes

In [ ]:
#FIND 15TH TERM AND 16TH TERM 0,0,7,6,14,12,21,.........................................n
n=int(input("enter the term to be found:"))
i=n//2
if n%2==0 and i!=1: 
  term=i*6
elif i==1:
  term=0
else:
  term=i*7
print(term)

enter the term to be found:2
0