<a href="https://colab.research.google.com/github/20A31A0523/Technical/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter the number:"))
i=0
sum=0
while(i<=num):
    if i%2==0:
       sum=sum+i
    i=i+1
print("sum of even numbers until 10=",sum)

enter the number:10
sum of even numbers until 10= 30

In [ ]:
# write a program to calculate number of even numbers and number of odd numbers sum in a range
n=int(input("enter range:"))
esum=0
osum=0
i=0
while(i<=n):
  if i%2==0:
    esum=esum+i
  else:
    osum=osum+i
  i=i+1
print("even numbers:",esum)
print("odd numbers:",osum)

enter range:10
even numbers: 30
odd numbers: 25

In [ ]:
# write a program to reverse a number
num=int(input("enter number:"))
temp=0
while(num!=0):
  temp=num%10
  print(temp)
  num=num//10

enter number:10
0
1

In [ ]:
# write a program to convert decimal number to binary number
dn=int(input("enter number:"))
bn=0
i=0
while (dn!=0):
  r=dn%2
  bn=bn + r*(10**i)
  dn=dn//2
  i+=1
print(bn)

enter number:14
1110

In [ ]:
#range with one parameter(start,N-1)
#range with two parameters(start,end,difference)
for i in range(11):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
# program for math tables
n=int(input("enter a number:"))
print("MULTIPLICATION TABLE OF",n)
print("--------------------------------")
for i in range(1,11):
  print(n," X",i,"=",n*i)

enter a number:5
MULTIPLICATION TABLE OF 5
--------------------------------
5  X 1 = 5
5  X 2 = 10
5  X 3 = 15
5  X 4 = 20
5  X 5 = 25
5  X 6 = 30
5  X 7 = 35
5  X 8 = 40
5  X 9 = 45
5  X 10 = 50

In [ ]:
# write a program to calculate factorial of a given number
n=int(input())
fact=1
for i in range(1,n+1):
  fact=fact*i
print("factorial value of",n,"is",fact)

3
factorial value of 3 is 6

In [ ]:
# write a program to print factorial series
n=int(input())
s=0.0
for i in range(1,n+1):
  a=1.0/1
  s=s+a
print(s)

5
5.0

In [ ]:
# program to print series sum for 1/2+2/3+3/4+...........n/n+1
n=int(input())
s=0.0
for i in range(1,n+1):
  d=i/(i+1)
  s=s+d
print(s)

7
5.2821428571428575

In [ ]:
# write a program to find the difference between odd index and even index values for a number 1227
n=int(input("enter the number:"))
e =0
o=0
while n!=0:
  rem=n%10
  e=e+rem
  n=n//10
  rem=n%10
  o=o+rem
  n=n//10
print(abs(e-o))

enter the number:1227
6

In [ ]:
# given a maximum of four digit to the bases 17(10-A,11-B,12-C,13-D.........16-G)as input and output its decimal value
n=str(input())
print(int(n,17))

14
21

In [ ]:
a=[1,2,3,4,5,6]
for i in a:
  if i==4:
    break
  print(i)

1
2
3

In [ ]:
# using pass
for letter in "mouni":
  pass
  print("pass:",letter)

pass: m
pass: o
pass: u
pass: n
pass: i

In [ ]:
# calender problem
import calendar
n=int(input("enter the year:"))
m=1
cal=calendar.TextCalendar(calendar.SUNDAY)
i=1
while i<=12:
  cal.pr month(n,i)
  i=i+1

enter the year:2023
    January 2023
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
   February 2023
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28
     March 2023
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
     April 2023
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30
      May 2023
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31
     June 2023
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30
     July 2023
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
    August 2023
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
   September 2023
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
    October 2023
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
   November 2023
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30
   December 2023
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31